{% extends 'base.html' %}
{% block body %}
​<picture>
    <div class="container">
        <div class="h-100 p-5 text-dark bg-info rounded-3 mx-0">
            <h2>About Todo App</h2>
            <p>
                ToDo App is simple and awesome app to organize your tasks with very easy to use interface. 
                ToDo can help you to make list of your tasks to be performed and also gives you the flexibility to update the content.
                Once the task is done, the task can be deleted out of the list by marking the Done button.
            </p>
          </div>
    </div>
</picture>
<div class="container">
    <h5>Developed By Abhisekh Mohapatra</h5>
</div>
{% endblock body %}